---
import Layout from "../layouts/Layout.astro";
---

<Layout pageTitle="Coffe Menu">
  <p class="text-coffe-5">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi inventore
    delectus maxime deserunt dolores voluptate impedit! Ad illum neque tempora
    harum voluptatem inventore modi, dicta obcaecati numquam nihil. Ipsa,
    soluta.
  </p>
</Layout>
