---

---

<div class="title-wrapper flex flex-col justify-end gap-2 my-5 font-bold">
  <h1 class="text-coffe-5 text-center text-[2rem] relative">
    Our Collection
  </h1>
  <p class="text-coffe-3 text-center text-base relative">
    Introducing our Coffee Collection, a selection of unique coffees from
    different roast types and origins, expertly roasted in small batches and
    shipped fresh weekly.
  </p>
</div>

<style>
  .title-wrapper {
    max-width: 35rem;
    min-height: 12rem;
    background: url("/imgs/vector.svg");
    background-position: right top;
    background-repeat: no-repeat;
    background-size: auto;
  }
</style>
