---
import { type Product } from "../scripts/api";

const { product } = Astro.props as { product: Product };
---

<div class="flex flex-col">
  <img src={product.image} alt="Product's Picture" />
</div>

<style></style>
