---
import { ViewTransitions } from "astro:transitions";
import "@fontsource/dm-sans";

const { pageTitle } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <ViewTransitions />

    <style>
      .coffe-background {
        height: 30%;
        width: 100%;
        object-fit: cover;
        position: absolute;
        z-index: -10;
      }
    </style>
  </head>
  <body class="bg-coffe-2 font-dm-sans antialiased">
    <img
      class="coffe-background"
      src="/imgs/bg-cafe.webp"
      alt="Background of a Coffe store"
    />
    <main class="container max-w-full pt-28 pb-24 px-24 max-[1024px]:px-32 max-[550px]:px-8">
      <slot />
    </main>
  </body>
</html>
